@charset "UTF-8";
/*Variables de color */
/* Estilos barra de navegación */
nav.navegacion-principal {
  padding: 14px;
  background-color: black;
}

nav a {
  color: #e42c2a;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  font-size: 1em;
  transition: all 0.3s ease;
}
nav a:hover {
  color: white;
  border-bottom: 3px solid white;
}
nav a:active {
  color: white;
  border-bottom: 3px solid white;
}

.logo {
  border-bottom: none;
}
.logo:hover {
  border-bottom: none;
}

.navbar-dark {
  color: #e42c2a;
}

.navbar-collapse {
  flex-basis: 100%;
  align-items: center;
  flex-grow: 0 !important;
}

.nav-link {
  display: inline;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  text-align: center !important;
}

.correccion-width {
  width: 100vw !important;
}

/* Reset de HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos elementos */
h1 {
  color: #e42c2a;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  font-size: 3.5em;
  font-weight: bold;
}
h1::after {
  content: "";
  margin: 0 auto;
  background-image: url("/img/separador.png");
  height: 30px;
  width: 120px;
  display: block;
}

@media only screen and (max-width: 420px) {
  h1 {
    color: #e42c2a;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
  }

  h2 {
    color: #e42c2a;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    font-size: 1.5em !important;
  }

  h3 {
    color: #e42c2a;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    padding: 20px;
    font-size: 1em !important;
  }
}
h2 {
  color: #e42c2a;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  font-size: 2.5em;
}

h3 {
  color: #e42c2a;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  padding: 20px;
}

h4 {
  color: white;
}

p {
  color: white;
  font-family: "Rubik", sans-serif;
  padding: 10px;
  display: inline;
}

.italica {
  font-style: italic;
}

ul li {
  text-decoration: none;
  color: white;
  font-family: "Rubik", sans-serif;
  font-style: italic;
  list-style: none;
}

.centrarTexto {
  text-align: center;
  margin-bottom: 30px;
}
.centrarTexto::after {
  content: "";
  margin: 0 auto;
  background-image: url("/img/separador.png");
  height: 30px;
  width: 120px;
  display: block;
}

body {
  background-color: black !important;
}

/* Sobre Nosotros */
div.imagenes-nosotros.relative {
  position: relative;
  bottom: 100px;
  left: 50px;
  width: 100%;
}

div.imagenes-nosotros {
  padding-top: 20px;
}
div.imagenes-nosotros img {
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  div.imagenes-nosotros.relative {
    position: relative;
    bottom: 100px;
    left: 60px;
    width: 60%;
  }

  div.imagenes-nosotros {
    padding-top: 20px;
    width: 60%;
  }
  div.imagenes-nosotros img {
    border-radius: 10px;
  }
}
div.sobre-nosotros {
  padding-top: 50px;
}

/* Estilos footer */
footer {
  background: #e30e36;
  background: linear-gradient(90deg, #e30e36 0%, #e41b1b 49%, #e90c0c 100%);
  margin-top: 20px;
  height: 220px;
}

div.contenedor-footer div.logo-footer {
  padding: 10px;
}

div.contenedor-footer div.contenedor-redes h2 {
  color: black;
  padding: 10px;
}

div.iconos-redes {
  text-align: center;
  padding: 10px;
  width: 60%;
}
div.iconos-redes a img {
  width: 50%;
  height: 50%;
}

.link-navegacion-footer {
  color: black;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}
.link-navegacion-footer:hover {
  color: white;
  border-bottom: 3px solid white;
}

div.imagen-neon {
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  div.imagen-neon {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
  }
}
div.imagen-miembros {
  padding: 20px;
}

div.imagen-miembros img {
  max-width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
div.imagen-miembros img:hover {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-tranform: scale(1.1);
  -o-transform: scale(1.1);
  max-width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.centrado {
  text-align: center;
}

/* Sección Discografía */
div.grid {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  justify-content: space-around;
}

.fecha {
  font-weight: bold;
  font-style: italic;
  color: white;
}

div.rayado img.imagen-logo-blanco-relative, div.rayado img.imagen-logo-rojo-relative {
  position: relative;
  left: 250px;
  bottom: 320px;
  z-index: -1;
}

@media only screen and (max-width: 480px) {
  div.rayado img.imagen-logo-blanco-relative, div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 100px;
    left: 5px;
    z-index: -1;
  }

  div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 100px;
    left: 5px;
    z-index: -1;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  div.rayado img.imagen-logo-blanco-relative, div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    left: 0px;
    z-index: -1;
  }

  div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    left: 0px;
    z-index: -1;
  }
}
@media only screen and (min-width: 769px) and (max-width: 910px) {
  div.rayado img.imagen-logo-blanco-relative, div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 100px;
    left: 10px;
    z-index: -1;
  }

  div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    right: 5px;
    z-index: -1;
  }
}
@media only screen and (min-width: 911px) and (max-width: 1024px) {
  div.rayado img.imagen-logo-blanco-relative, div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 320px;
    left: 100px;
    z-index: -1;
  }

  div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 320px;
    left: 100px;
    z-index: -1;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1220px) {
  div.rayado img.imagen-logo-blanco-relative, div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 320px;
    left: 180px;
    z-index: -1;
  }

  div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 320px;
    left: 180px;
    z-index: -1;
  }
}
@media only screen and (min-width: 1221px) and (max-width: 1760px) {
  div.rayado img.imagen-logo-blanco-relative, div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 320px;
    left: 350px;
    z-index: -1;
  }

  div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 320px;
    left: 350px;
    z-index: -1;
  }
}
@media only screen and (min-width: 1761px) and (max-width: 2560px) {
  div.rayado img.imagen-logo-blanco-relative, div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 320px;
    left: 400px;
    z-index: -1;
  }

  div.rayado img.imagen-logo-rojo-relative {
    position: relative;
    bottom: 320px;
    left: 400px;
    z-index: -1;
  }
}
div.disco img {
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
div.disco img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  div.disco img {
    margin-top: 150px;
  }
}
/* Botones */
.boton {
  background-color: transparent;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
  text-transform: uppercase;
  margin: 10px;
}
.boton:hover {
  background-color: #e42c2a;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #e42c2a;
}

.boton-dropdown {
  background-color: transparent;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
}
.boton-dropdown:hover {
  background-color: #e42c2a;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #e42c2a;
}

.boton-shop {
  background-color: transparent;
  color: #e42c2a;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #e42c2a;
}
.boton-shop:hover {
  background-color: #e42c2a;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #e42c2a;
}

/* Estilos de formulario */
label, input {
  color: #e42c2a;
  font-family: "Rubik", sans-serif;
}

.form-check-input:checked {
  background-color: #e42c2a;
  border-color: #e42c2a;
}

/* Estilos términos de uso y condiciones y uso del sitio */
.tituloTerminos {
  color: #e42c2a;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin-top: 2em;
}

.parrafoCentrado {
  text-align: center;
}

/* Estilos página fans */
section.gallery-margin {
  margin-top: 100px;
}

div.imagenes-fans {
  margin: 5px;
}
div.imagenes-fans img:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  box-shadow: 0 5px 6px -6px white;
}

div.paginacion {
  margin: 50px 0 50px 0;
}
div.paginacion a {
  background-color: transparent;
  color: white;
  font-style: normal;
}
div.paginacion a:hover {
  background-color: #e42c2a;
  color: white;
}
div.paginacion a:active {
  background-color: #e42c2a;
  color: white;
}

.paginacion-activo {
  background-color: #e42c2a;
  color: white;
}

/* Estilo slider */
.slider-padding {
  padding-top: 50px;
  margin: 0 auto;
}

@media only screen and (max-width: 360px) {
  .slider-padding {
    padding-top: 70px;
  }
}
/* Estilos seccion tours */
.tours-title {
  color: #e42c2a;
  font-size: 9em;
  position: relative;
  font-family: "Rubik Mono One", sans-serif;
  bottom: -30px;
  letter-spacing: 30px;
  text-align: center;
  width: 100% !important;
  display: inline-block;
  margin-top: 50px;
}
.tours-title:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  max-width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.white {
  font-size: 9em;
  position: relative;
  font-family: "Rubik Mono One", sans-serif;
  bottom: -30px;
  letter-spacing: 30px;
  text-align: center;
  width: 100% !important;
  display: inline-block;
  color: white;
  bottom: 200px;
  right: 10px;
  margin-top: 20px;
}

.span-background {
  color: white;
  background-color: #e42c2a;
  font-style: italic;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #e42c2a !important;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-style: normal;
}
.dropdown-item:hover {
  background-color: transparent;
  border: 1px solid #e42c2a;
  cursor: pointer;
  font-weight: bold;
}

.btn-secondary:focus {
  color: #fff;
  background-color: #e42c2a;
  border-color: #e42c2a !important;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

@media only screen and (max-width: 320px) {
  .tours-title {
    color: #e42c2a;
    font-size: 1.4em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    bottom: 10px;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    margin-top: 50px;
  }
  .tours-title:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    max-width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .white {
    font-size: 1.4em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    bottom: 50px;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    color: white;
    bottom: 80px;
    right: 1px;
    margin-top: -10px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .tours-title {
    color: #e42c2a;
    font-size: 2.4em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    bottom: 20px;
    right: 15px;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    margin-top: 20px;
  }
  .tours-title:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    max-width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .white {
    font-size: 2.4em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    bottom: 10px;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    color: white;
    bottom: 100px;
    right: 15px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .tours-title {
    color: #e42c2a;
    font-size: 4.2em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    bottom: 10px;
    right: 15px;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    margin-top: 20px;
  }
  .tours-title:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    max-width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .white {
    font-size: 4.2em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    color: white;
    bottom: 130px;
    right: 20px;
    margin-top: -10px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .tours-title {
    color: #e42c2a;
    font-size: 6em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    bottom: 10px;
    right: 15px;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    margin-top: 20px;
  }
  .tours-title:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    max-width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .white {
    font-size: 6em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    color: white;
    bottom: 170px;
    right: 20px;
    margin-top: -10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 2560px) {
  .tours-title {
    color: #e42c2a;
    font-size: 7.5em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    bottom: 10px;
    right: 15px;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    margin-top: 20px;
  }
  .tours-title:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    max-width: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .white {
    font-size: 7.5em;
    position: relative;
    font-family: "Rubik Mono One", sans-serif;
    letter-spacing: 10px;
    text-align: center;
    width: 100% !important;
    display: inline-block;
    color: white;
    bottom: 200px;
    right: 20px;
    margin-top: -10px;
  }
}
.parallax {
  /* Imagen de fondo */
  background-image: url("/img/tours.jpg");
  /* Altura mínima */
  min-height: 500px;
  /* Efecto parallax de fondo */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section.shop-margin {
  margin-top: 5em;
}

.bottom-margin {
  margin-bottom: 1.5em;
}

.precio {
  font-size: 1.5em;
  color: black;
  font-style: italic;
  text-align: center;
}

.descripcion {
  font-size: 1.2em;
  color: #e42c2a;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card:hover {
  border: 2px solid #e42c2a;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

/*# sourceMappingURL=estilos.css.map */
