/* Sobre Nosotros */

div.imagenes-nosotros.relative {
    position: relative;
    bottom: 100px;
    left:50px;
    width: 100%;
}

div.imagenes-nosotros {
    padding-top: 20px;

    img {
        border-radius: 10px;
    }
}

@media only screen and (max-width:768px) {
    div.imagenes-nosotros.relative {
        position: relative;
        bottom: 100px;
        left:60px;
        width: 60%;
    }
    
    div.imagenes-nosotros {
        padding-top: 20px;
        width: 60%;
        img {
            border-radius: 10px;
        }
    }
}

div.sobre-nosotros {
    padding-top: 50px;
}