/* Estilos términos de uso y condiciones y uso del sitio */

.tituloTerminos {
    color: $color-principal;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin-top: 2em;
}

.parrafoCentrado {
    text-align: center;
}